@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  font-family: regular;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "extra-light";
  src: url("./assets/fonts/PPMori-Extralight.otf") format("opentype");
}

@font-face {
  font-family: "extra-light-italic";
  src: url("./assets/fonts/PPMori-ExtralightItalic.otf") format("opentype");
}

@font-face {
  font-family: "regular";
  src: url("./assets/fonts/PPMori-Regular.otf") format("opentype");
}

@font-face {
  font-family: "regular-italic";
  src: url("./assets/fonts/PPMori-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "semi-bold";
  src: url("./assets/fonts/PPMori-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "semi-bold-italic";
  src: url("./assets/fonts/PPMori-SemiBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "child-hood";
  src: url("./assets/fonts/Child-Hood.otf") format("opentype");
}

.spacer-large {
  padding: 60px 0px;
}

.spacer-medium {
  padding: 20px 0px;
}

.spacer-small {
  padding: 8px 0px;
}

.spacer-xs {
  padding: 4px 0px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.swiper-slide img {
  object-fit: cover;
}

.projects-swiper .swiper-wrapper .swiper-slide-active .project {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #d1d5db;
  border-radius: 12px;
}

.projects-swiper
  .swiper-wrapper
  .swiper-slide-active
  .project
  .project-details {
  padding: 0px 16px 16px 16px;
}

.projects-swiper
  .swiper-wrapper
  .swiper-slide-active
  .project
  .project-details
  .project-technology {
  border-radius: 6px;
}

.projects-swiper
  .swiper-wrapper
  .swiper-slide-active
  .project
  .project-details
  a
  .project-links {
  border-radius: 32px;
}

.projects-swiper
  .swiper-wrapper
  .swiper-slide-active
  .project
  .project-image
  .logo-image-background {
  /* background-color: #f6f7f8; */
}

.badge-swiper .swiper-wrapper .swiper-slide-active .badge {
  border: 1px solid #f1f5f933;
  border-radius: 12px;
  padding: 16px;
}

.badge-swiper
  .swiper-wrapper
  .swiper-slide-active
  .badge
  .badge-categories
  .badge-clogo {
  border-radius: 6px;
}

.hero-swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
}

/* light-sweep */

.light-sweep {
  display: inline-block;
  width: 100%;
  background: #282828 -webkit-linear-gradient(left, #282828, #fff) no-repeat 0 0 /
    60px;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.3);
  animation: sweep 2.5s ease-in infinite;
}

.black-sweep {
  display: inline-block;
  width: 100%;
  background: rgba(0, 0, 0, 0.4) -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0.4),
      #111
    ) no-repeat 0 0 / 60px;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
  animation: sweep 2.5s ease-in infinite;
}

.footer-sweep {
  display: inline-block;
  width: 33%;
  background: rgba(0, 0, 0, 0.4) -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0.4),
      #111
    ) no-repeat 0 0 / 60px;
  background-clip: text;
  -webkit-text-fill-color: rgba(239, 239, 239, 1);
  animation: sweep 2.5s ease-in infinite;
}

@keyframes sweep {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

/* footer animations */

.footer-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  color: #fff;
  text-decoration: none;
  border: none;
  transition: all 300ms;
}

.footer-btn:hover {
  background-color: gold;
  color: #282828;
}

.footer-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 500ms;
}

.footer-btn:hover::after {
  transform: scale(1, 1);
  opacity: 1;
}

.footer-btn:active {
  transform: scale(0.9);
}

.bubble-effect {
  width: 100%;
  overflow: visible;
}

.drop {
  animation: drop 3.2s linear infinite normal;
  stroke-width: 0.5;
  transform: translateY(25px);
  transform-box: fill-box;
  transform-origin: 0% 100%;
}

.drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
}

.drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
}

.drop4 {
  animation-delay: 1.7s;
}

.drop5 {
  animation-delay: 2.7s;
  animation-duration: 3.1s;
}

.drop6 {
  animation-delay: -2.1s;
  animation-duration: 3.2s;
}

.gooeff {
  filter: url(#goo);
}

@keyframes drop {
  0% {
    transform: translateY(25px);
  }
  30% {
    transform: translateY(-10px) scale(0.1);
  }
  30.001% {
    transform: translateY(25px) scale(1);
  }
  70% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-10px) scale(0.1);
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background-image: linear-gradient(
    90deg,
    #e5e7eb 0%,
    #f3f4f6 50%,
    #e5e7eb 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.typewriter {
  display: block;
}

.text-wrapper {
  display: block;
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  max-width: 0;
  opacity: 0;
  transition: max-width 0.5s ease-out, opacity 0.3s ease-in;
}

.text-wrapper.show {
  max-width: 20ch;
  opacity: 1;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.glowing-circle {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  animation: glowing 5s ease-in-out infinite alternate;
}

@keyframes glowing {
  0% {
    background-color: transparent;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
      0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  50% {
    background-color: white;
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff,
      0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
  100% {
    background-color: transparent;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
      0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
}

.marquee-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.marquee-text {
  width: 100%;
  display: flex;
  gap: 100px;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
